<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfolio.yoonho.dao.LoginMapper">

	<!-- <select id="loginProcess" parameterType="com.portfolio.yoonho.model.UserInfoVO" resultType="String">
		SELECT '1' FROM SM_USER_MASTER
		WHERE LOWER(USER_ID) = LOWER(#{userId}) AND 1 = compare_encrypt(USER_PW, #{userPw})
	</select> -->
	
	<sql id="tableName_dev">
		FROM EC_SM_USER_MASTER_T
	</sql>
	<sql id="tableName">
		FROM EC_SM_USER_MASTER
	</sql>
	
	<select id="loginProcess" parameterType="com.portfolio.yoonho.model.UserInfoVO" resultType="String">
		SELECT COUNT(USER_ID) 
		<include refid="tableName" />
		WHERE LOWER(USER_ID) = LOWER(#{userId}) AND NEW_PASSWD = ENCRYPT(#{userPw})
	</select>
	
</mapper>